@model BookStore.Models.Book

@{
    ViewBag.Title = "Delete";
}





<div class="card">
    <div class="card-header">
        <h2> Delete @Model.Name</h2>
    </div>



    <img src="~/Content/assets/images/@Model.Img" class="card-img-top" alt="...">
    <div class="card-body">
        <dl class="dl-horizontal">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd></li>
            <li class="list-group-item">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd></li>
            <li class="list-group-item">

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            </li>
            <li class="list-group-item">
            <dt>
                @Html.DisplayNameFor(model => model.ISBN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISBN)
            </dd>
            </li>
            <li class="list-group-item">
            <dt>
                @Html.DisplayNameFor(model => model.Author)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author)
            </dd>
            </li>
            <li class="list-group-item">
            <dt>
                @Html.DisplayNameFor(model => model.Year_of_publication)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Year_of_publication)
            </dd>
            </li>
            <li class="list-group-item">

            <dt>
                @Html.DisplayNameFor(model => model.Publishing)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Publishing)
            </dd>
            </li>

            </ul>
















        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions">
        <h3>Are you sure you want to delete this?</h3>
        <button type="submit" class="btn btn-success">Delete</button>

        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
    </div>
        }
        
    </div>
</div>